.left-enter {
    transform: translate(100%, 0);
    opacity: 0;
    position: fixed;
}
.left-enter.left-enter-active{
    opacity: 1;
    transform: translate(0, 0);
    transition: all 600ms;
}

.left-exit.left-exit-active {
    opacity: 1;
    transform: translate(-100%, 0);
    transition: all 400ms;
}

.right-enter {
    transform: translate(-100%, 0);
    opacity: 0;
    position: fixed;
}
.right-enter.right-enter-active{
    opacity: 1;
    transform: translate(0, 0);
    transition: all 600ms;
}

.right-exit.right-exit-active {
    opacity: 1;
    transform: translate(100%, 0);
    transition: all 400ms;
}
